{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>
        Confirmation email send. Please confirm the registration through your email to finalize the account creation. 
    </p>
{% endblock fos_user_content %}
