{% trans_default_domain 'FOSUserBundle' %}

<form id="registration-form" action="{{ path('fos_user_registration_register') }}" method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}

</form>
<button form="registration-form" class="submit-button">Submit</button>