html, body {
    position:relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
  background-color: #d3ffe9;
}

#page-header {
    position:relative;
    width:100%;
    height:300px;
    background-color: #ffffff;
}

#header-ribbon {
    position: absolute;
    width: 100%;
    height: 60%;
    margin: 57px 0 0 0;
    background-color: #7bc7b5;
}

.header-title {
    position: absolute;
    color: #ffffff;
    font-size: 2.8em;
    font-family: sans-serif;
    margin: 60px 0px 0px 60px;
}

.page-wrapper {
    position:relative;
    width: 100%;
    padding-bottom: 125px; /* Equals to footer height */
}

#page-content {
    position: relative;
    padding: 20px 0 80px 0;
}

#sidebar {
    position: absolute;
    height: 100%;
    left: 0px;
    top: 0;
    background-color: #E7E5E5;
    width: 45%;
    overflow-y: scroll;
}

#places-show-more {
    display:none;
}

#page-content .wrapper{
    min-height: 300px;
    padding: 40px 0 125px 0;
}

#map {
    position: relative !important;
    float: right;
    width: 50%;
    height: 400px;
    margin: 0 1rem 0px 0px;
}

#map > div {
    position: relative !important; 
}

#main-search {
    text-align:left;
    margin-top: 3rem;
    padding-left: 8rem;
}

#search-box {
    height: 50px;
    width: 50%;
    margin: 0px 45px 1.5em 0;
    padding: 0 0px 0px 15px;
}

#search-submit {
	background-color:#4ba2fa;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:15px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}

#search-submit:hover {
	background-color:#378de5;
}

.sidebar-item {
    cursor: default;
    border-bottom: solid 1px #000;
    font-family: monospace;
    font-size: 11pt;
    color: #1c7bdb;
    padding: 0 0 0 1rem;
}

/*
#place-info-container {
    margin-top: 40px;
}
*/

.place-name-fi{
    padding-top: 15px;
    -webkit-margin-before: 0 !important;
}

.place-info {
    width: 97.9%;
    margin: 21px auto 0 auto;
    padding: 5px 5px 5px 10px;
    background-color: mintcream;
    border: 2px solid chocolate;
}

.place-info hr {
    margin-bottom: 15px;
}

.place-info div {
    text-align: left;
    margin: 0 0 10px 0;
}


.place-info span {
    font-weight: bold;
}

.place-desc {
    margin: 1rem 0 0 0;
}

#footer{
    position:absolute;
    height: 125px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #7bc7b5;
}

/*
.sidebar-item:first-of-type {
    border-top: solid 1px #000;
}
*/

